body {
  background-color: white;
  font-family: helvetica;
}
#container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.choice {
  border: 1px solid;
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: blue;
}
.choiceIcon:hover {
  animation: rotation 1s;
}
#scores {
  font-size: 40;
  color: black;
  display: flex;
}

#ScoreCounter {
  display: flex;
  font-size: 100px;
  padding: 10px;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px;
}
#userScore {
  padding: 10px;
  border: 1px solid black;
}
#computerScore {
  padding: 10px;
  border: 1px solid black;
}
.choiceIcon {
  width: 200px;
  border-radius: 100%;
  background: white;
}
#player {
  display: flex;
  flex-direction: column;
}
#choiceDiv {
  color: black;
  font-size: 100px;
  position: relative;
  margin: 100px;
}
#playerContainer {
  display: flex;
  flex-direction: column;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#options {
  display: flex;
}
#computerSelection {
  color: red;
  font-size: 100px;
}
#computer {
  margin: 100px;
}
/* Animations */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
