body{
    background-color: black;

}
#container{
    display: flex;
    width:100%;
    height:100%;
    position: relative;
    top:400px;

}
.choice{
    border:1px solid;
    margin: 10px; 
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:blue;
}
.choice:hover{
    background-color: grey;
}
#scores{
    font-size:40;
    color: white;
    display:flex;
    
}
#RockIcon{
    width:200px;
    height:200px;
    border-radius: 100%;

}
#paperIcon{
    width:200px;
    height:200px;
    border-radius: 100%;

}
#scissorsIcon{
    width:200px;
    height:200px;
    border-radius: 100%;

}
#ScoreCounter{
    display:flex;
    font-size: 100px;
    padding: 10px;
    
    
}
#userScore{
    padding: 10px;
    border: 1px solid white;

}
#computerScore{
    padding:10px;
    border: 1px solid white;
}


